<mat-toolbar color="primary">
  <span>Live Dati</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <span class="bar-subtitle">Flusso dati in tempo reale</span>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Istogramma">
    <div>
      <app-live-hist></app-live-hist>
    </div>
  </mat-tab>
  <mat-tab label="Dashboard">
    <div>
        <app-live-rpm></app-live-rpm>
        <app-live-temp></app-live-temp>
        <app-live-acqua></app-live-acqua>
        <app-live-caldaia></app-live-caldaia>
        <app-live-aria></app-live-aria>
    </div>
  </mat-tab>
</mat-tab-group>