<mat-toolbar color="primary">
    <span>Manutenzioni</span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span class="bar-subtitle">Previsioni sul funzionamento</span>
  </mat-toolbar>
  
<mat-tab-group>
    <mat-tab label="Predizione Allarmi">
      <div>Predizione Allarmi</div>
    </mat-tab>
    <mat-tab label="Predizione Anomalie">
      <div>Predizione Anomalie</div>
    </mat-tab>
    <mat-tab label="Manutenzioni Programmate">
      <div>Manutenzioni Programmate</div>
    </mat-tab>
    <mat-tab label="Stato Ricambi">
      <div>Stato Ricambi</div>
    </mat-tab>
</mat-tab-group>