<div #TABLE class="example-container mat-elevation-z8">
  <table #table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    <!-- <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container> -->

    <!-- Position Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Time
      </th>
      <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      <!-- <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="timeFilter">
        </mat-form-field>
      </td> -->
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="rpm">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        RPM
      </th>
      <td mat-cell *matCellDef="let element"> {{element.rpm}} </td>
      <!-- <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="rpmFilter">
        </mat-form-field>
      </td> -->
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="temperatura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Temperatura

      </th>
      <td mat-cell *matCellDef="let element"> {{element.temperatura}} </td>
      <!-- <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="tempFilter">
        </mat-form-field>
      </td> -->
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="pressioneAcqua">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        PressioneAcqua

      </th>
      <td mat-cell *matCellDef="let element"> {{element.pressioneAcqua}} </td>
      <!-- <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="acqFilter">
        </mat-form-field>
      </td> -->
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="pressioneCaldaia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        pressioneCaldaia

      </th>
      <td mat-cell *matCellDef="let element"> {{element.pressioneCaldaia}} </td>
      <!-- <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="caldFilter">
        </mat-form-field>
      </td> -->
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="pressostatoAria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        pressostatoAria

      </th>
      <td mat-cell *matCellDef="let element"> {{element.pressostatoAria}} </td>
      <!-- <td mat-footer-cell *matFooterCellDef>
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="airFilter">
        </mat-form-field>
      </td> -->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr> -->

  </table>

</div>
<div>
  <div>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons class="mat-paginator-sticky"></mat-paginator>
  </div>
  <!-- <app-query-bar style="width: 100%"></app-query-bar> -->
  <div>
      <app-date-time descr="Da"></app-date-time>
      <app-date-time descr="A"></app-date-time>
      <app-numeric-filter #rpm descr="rpm"></app-numeric-filter>
      <app-numeric-filter #temperatura descr="temperatura"></app-numeric-filter>
      <app-numeric-filter #pressioneAcqua descr="pressioneAcqua"></app-numeric-filter>
      <app-numeric-filter #pressioneCaldaia descr="pressioneCaldaia"></app-numeric-filter>
      <app-numeric-filter #pressostatoAria descr="pressostatoAria"></app-numeric-filter>
    </div>
    <div>
      <button mat-raised-button color="accent" style="width: 40%" (click)="get()">Ottieni</button>
      <button mat-raised-button color="accent" style="width: 40%" (click)="reset()">Reset Filtri</button>
      <button mat-raised-button color="accent" style="width: 20%" (click)="download()"><mat-icon matSuffix>get_app</mat-icon></button>
    </div>
</div>