<mat-toolbar color="primary">
    <mat-icon aria-label="Side nav toggle icon">fingerprint</mat-icon>
    <span>&nbsp;Link 3</span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span class="bar-subtitle">Link 3 description</span>
  </mat-toolbar>
  
<mat-tab-group>
    <mat-tab label="Link3Tab1">
      <div>Link3Tab1</div>
    </mat-tab>
    <mat-tab label="Link3Tab2">
      <div>Link3Tab2</div>
    </mat-tab>
    <mat-tab label="Link3Tab3">
      <div>Link3Tab3</div>
    </mat-tab>
</mat-tab-group>